/* 
	Font face
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.sectionClass {
	padding: 80px 0px 50px 0px;
	position: relative;
	display: block;
	background: rgb(249, 249, 249);
	background-color: #1b191a;
  }
  
  .row {
	width: 980px;
	height: 100%;
	max-width: 100%;
	margin: 0 auto;
  }
  
  .row:before,
  .row:after {
	content: "";
	display: table;
  }
  
  .sectiontitle {
	background-position: center;
	text-align: center;
	min-height: 20px;
	color: white;
  }
  
  .sectiontitle h2 {
	font-size: 30px;
	color: white;
	margin-bottom: 0px;
	padding-right: 10px;
	padding-left: 10px;
  }
  
  .headerLine {
	width: 160px;
	height: 2px;
	display: inline-block;
	background: #7a8da0;
  }
  
  .fullWidth {
	width: 100%;
	display: table;
	float: none;
	padding: 0;
	min-height: 1px;
	height: 100%;
	position: relative;
  }
  /********************************/
  /*  SECTION WORK EXPERIENCE
  ********************************/
  
  #work-experience .sectiontitle .headerLine {
	width: 280px;
	background-color: #1b191a;
	margin-top: 0px;
	margin-bottom: 0px;
  }
  
  #work-experience .headerline {
	width: 280px;
	background-color: #1b191a;
	margin-top: 0px;
	margin-bottom: 0px;
  }
  
  .cbp_tmtimeline {
	background-color: #1b191a;
	margin: 60px 30px 0 0;
	padding: 0;
	list-style: none;
	position: relative;
  }
  
  .cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 3%;
	bottom: 0;
	width: 10px;
	background: #1b191a;
	left: 13%;
	height: 100%;
  }
  
  .cbp_tmtimeline li:last-child:before {
	content: initial;
	background-color: #1b191a;
  }
  
  .cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	width: 25%;
	padding-right: 100px;
	position: absolute;
	background-color: #1b191a;
  }
  
  .cbp_tmtimeline > li .cbp_tmtime span {
	display: block;
	text-align: right;
	background-color: #1b191a;
  }
  
  .cbp_tmtimeline > li .cbp_tmtime span:first-child {
	font-size: 0.9em;
	color: #bdd0db;
	background-color: #1b191a;
  }
  
  .cbp_tmtimeline > li .cbp_tmtime span:last-child {
	font-size: 2.9em;
	color: #3594cb;
  }
  
  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
	color: #6cbfee;
  }
  
  .cbp_tmtimeline > li .cbp_tmlabel {
	margin: 0 0 20px 25%;
	background: rgb(45, 47, 49);
	color: #FFF;
	padding: 30px;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	font-family: 'Open Sans';
	position: relative;
	border-radius: 5px;
	min-height: 150px;
  }
  
  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
	background: rgb(45, 47, 49);
  }

  .cbp_tmtimeline > li .cbp_tmlabel h3 {
	color: white;
	font-size: 20px;
	margin-bottom: 5px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
  }
  
  .cbp_tmtimeline > li .cbp_tmlabel h4 {
	opacity: 0.7;
	color: rgba(255, 255, 255, 1);
	letter-spacing: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	line-height: 1.2em;
	font-weight: 600;
	padding: 0;
	padding-bottom: 10px;
	margin: 0;
	text-align: left;
  }
  
  .cbp_tmtimeline > li .cbp_tmlabel h4 i {
	margin-right: 5px;
	vertical-align: middle;
  }
  
  .cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: rgb(45, 47, 49);
	border-width: 10px;
	top: 70px;
  }
  
  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: rgb(45, 47, 49);
  }
  
  .cbp_tmtimeline > li .cbp_tmicon {
	width: 150px;
	height: 150px;
	top: 3%;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #151515;
	background: #1b191a;
	border-radius: 50%;
	text-align: center;
	left: 8%;
	margin: 0 0 0 -25px;
  }
  
  .cbp_tmtimeline li {
	margin-bottom: 70px;
	position: relative;
  }
  
  .sectionClassProject {
	position: relative;
	display: block;
	/* background: #f7f7f7; */
	
	margin: 0 auto;
	padding: 80px 1.875em 3.125em;
  }
  
  .projectParagraph {
	font-size: 18px;
	margin: 0.5em 0 0;
	font-family: 'Source Sans Pro', serif;
  }
  
  .projectParagraphLink {
	font-size: 15px !important;
	font-weight: 500 !important;
	margin-top: 50px !important;
	margin-bottom: 0px;
	text-align: right;
  }
  
  .projectParagraphLink a {
	color: white;
	text-decoration: underline;
  }
  
  .cbp_tmicon img {
	width: 100%;
  }
  
  .faPra {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 70px;
	vertical-align: middle;
	color: white;
	line-height: 150px;
  }
  
  .label {
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 3px;
	color: #FFFFFF;
	display: inline;
	font-size: 12px;
	font-weight: bold;
	margin-right: 10px;
	padding: 5px 15px;
  }
  
  .date {
	color: #BFC3C7;
	display: block;
	font-size: 14px;
	font-weight: 600;
	position: absolute;
	top: 30px;
	right: 20px;
	margin-right: 300px;
  }
  
  .date i {
	margin-right: 8px;
	vertical-align: top;
	font-size: 18px;
	line-height: 20px;
  }
  
  @media (max-width: 1024px) {
	.cbp_tmtimeline:before {
	  display: none;
	}
	.cbp_tmtimeline > li .cbp_tmtime {
	  width: 100%;
	  position: relative;
	  padding: 0 0 20px 0;
	}
	.cbp_tmtimeline > li .cbp_tmtime span {
	  text-align: left;
	}
	.cbp_tmtimeline > li .cbp_tmlabel {
	  margin: 0px 0 70px 0;
	  padding: 50px 30px 30px 30px;
	  font-weight: 400;
	  font-size: 95%;
	  float: left;
	}
	.cbp_tmtimeline > li .cbp_tmlabel:after {
	  right: auto;
	  border-right-color: transparent;
	  border-bottom-color: rgb(45, 47, 49);
	  top: -20px;
	}
	.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	  border-right-color: transparent;
	  border-bottom-color: rgb(45, 47, 49);
	  left: 65px;
	}
	.cbp_tmtimeline > li:nth-child(odd) .cbp_tmicon {
	  position: relative;
	  float: left;
	  left: auto;
	  margin: 0px 5px 0 0px;
	}
	.cbp_tmtimeline > li:nth-child(even) .cbp_tmicon {
	  position: relative;
	  float: right;
	  left: auto;
	  margin: 0px 5px 0 0px;
	}
	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
	  font-size: 1.5em;
	  background-color: rgb(45, 47, 49);;
	}
  }
  
  @media (max-width: 32em) {
	.cbp-ntaccordion {
	  font-size: 70%;
	}
  }
  /* AUTHOR LINK */
  
  
  footer{
	z-index: 100;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
	bottom: 0;
	left: 0;
  }
  
  footer p {
  color: rgba(255, 255, 255, 0.8);
	font-size: 16px;
	opacity: 0;
	font-family: 'Open Sans';
	width: 100%;
	  word-wrap: break-word;
	line-height: 25px;
	-webkit-transform: translateX(-200px);
	transform: translateX(-200px);
	margin: 0;
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	transition: all 250ms ease;
  }
  
  footer .authorWindow a{
	color: white;
	text-decoration: none;
  }
  
  footer p strong {
	  color: rgba(255, 255, 255, 0.9);
  }
  
  .about-me-img {
	width: 120px;
	height: 120px;
	left: 10px;
	/* bottom: 30px; */
	position: relative;
	border-radius: 100px;
  }
  
  .authorWindow{
	width: 600px;
	background: #75439a;
	padding: 22px 20px 22px 20px;
	border-radius: 5px;
	overflow: hidden;
  }
  
  .authorWindowWrapper{
	display: none;
	left: 110px;
	top: 0;
	padding-left: 25px;
	position: absolute;
  }
  
  .trans{
	opacity: 1;
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	transition: all 500ms ease;
  }
  
  @media screen and (max-width: 768px) {
	  .authorWindow{
		   width: 210px;
	  }
  
	  .authorWindowWrapper{
			   bottom: -170px;
	margin-bottom: 20px;
	  }
  
	  footer p{
			font-size: 14px;
	  }
  }
  

.list-component {
	border-left: 1px solid gray;
	list-style: none;
	margin-left: 10px;
	padding-top: 20px
  }
   /* https://www.computerhope.com/issues/ch001705.htm */
  .list-component .__item {
	background: url(https://www.computerhope.com/issues/pictures/bullet.gif) no-repeat top left;
	background-position: top left;
	padding: 0 0 4px 60px;
	margin-left: 1em;
	position: relative;
	right: 67px;
	margin-bottom: 10px;
	top: 10px;
  }
  
  .card-component {
	border: 1px solid gray;
	border-radius: 5px;
	padding: 1em;
	max-width: 450px;
	font-family: Arial;
	position: relative;
	bottom: 20px;
  }
    
  .card-component .__title {
	font-size: 1em;
  }
  
  .card-component .__text {
	color: gray;
  }

@font-face {
	font-family: 'Graphik';
	src: url('/fonts/graphik-regular.woff2') format('woff2');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'Graphik';
	src: url('/fonts/graphik-bold.woff2') format('woff2');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: 'Wotfard';
	src: url('/fonts/wotfard-regular.woff2') format('woff2');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'Wotfard';
	src: url('/fonts/wotfard-regularitalic.woff2') format('woff2');
	font-style: italic;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'IBM Plex Mono';
	src: url('/fonts/ibm-plx-mono.woff2') format('woff2');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}  
  .responsive-container-block {
	background-color: #1b191a;
	min-height: 75px;
	height: fit-content;
	width: 100%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: flex;
	flex-wrap: wrap;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	justify-content: flex-start;
  }
  
  .text-blk {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	line-height: 25px;
  }
  
  .responsive-container-block.bigContainer {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 10px;
	padding-right: 50px;
	padding-bottom: 10px;
	padding-left: 50px;
  }
  
  .text-blk.headingText {
	font-size: 23px;
	font-weight: 700;
	line-height: 28px;
	color: rgb(255, 255, 255);
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
  }
  
  .text-blk.subHeadingText {
	color: rgb(102, 102, 102);
	font-size: 32px;
	line-height: 40px;
	font-weight: 700;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
  }
  
  .text-blk.description {
	font-size: 18px;
	line-height: 28px;
	color: rgb(153, 153, 153);
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 40px;
	margin-left: 0px;
  }
  
  .explore {
	font-size: 18px;
	line-height: 28px;
	color: rgb(255, 255, 255);
	background-color: grey;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
	border-top-color: white;
	border-right-color: white;
	border-bottom-color: white;
	border-left-color: lightgrey;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	cursor: pointer;
	box-shadow: rgba(152, 147, 147, 0.299) 0px 10px 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding-top: 9px;
	padding-right: 45px;
	padding-bottom: 9px;
	padding-left: 45px;
  }
  
  .explore:hover {
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: lightgrey;
	color: black;
  }
  
  .responsive-container-block.Container {
	margin-top: 80px;
	margin-right: auto;
	margin-bottom: 50px;
	margin-left: auto;
	justify-content: center;
	align-items: center;
	max-width: 1320px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
  }
  
  .responsive-container-block.Container.bottomContainer {
	flex-direction: row;
	margin-top: 50px;
	margin-right: auto;
	margin-bottom: 50px;
	margin-left: auto;
  }
  
  .allText.aboveText {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 40px;
  }
  
  .allText.bottomText {
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
  }
  
  .mainVideo {
	width: 55%;
	height: 300px;
	margin-top: -30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-radius:50%;
  }
  
  .videoContainer {
	width: 46%;
	height: 600px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
  }
  
  .mainVideo {
	z-index: 10;
  }
  
  .dotsImg {
	position: absolute;
	width: 80%;
	height: 600px;
	top: 0px;
	right: 0px;
	object-fit: cover;
  }
  
  @media (max-width: 1024px) {
	.responsive-container-block.Container {
	  max-width: 850px;
	}
  
	.text-blk.description {
	  font-size: 18px;
	}
  
	.allText {
	  width: 40%;
	  margin-top: 0px;
	  margin-right: 0px;
	  margin-bottom: 0px;
	  margin-left: 20px;
	}
  
	.responsive-container-block.bigContainer {
	  padding-right: 10px;
	  padding-bottom: 10px;
	  padding-left: 10px;
	  background-color: #1b191a;
	}
  
	.text-blk.subHeadingText {
	  font-size: 30px;
	}
  
	.responsive-container-block.Container.bottomContainer {
	  margin-top: 80px;
	  margin-right: auto;
	  margin-bottom: 50px;
	  margin-left: auto;
	}
  
	.responsive-container-block.Container {
	  max-width: 830px;
	}
  
	.allText.aboveText {
	  margin-top: 30px;
	  margin-right: 0px;
	  margin-bottom: 0px;
	  margin-left: 40px;
	}
  
	.allText.bottomText {
	  margin-top: 30px;
	  margin-right: 40px;
	  margin-bottom: 0px;
	  margin-left: 0px;
	}
  
	.allText.bottomText {
	  width: 100%;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  margin-top: 30px;
	  margin-right: 0px;
	  margin-bottom: 30px;
	  margin-left: 0px;
	}
  
	.responsive-container-block.Container.bottomContainer {
	  flex-direction: column;
	}
  
	.text-blk.headingText {
	  text-align: center;
	  font-size: 22px;
	}
  
	.text-blk.subHeadingText {
	  text-align: center;
	}
  
	.text-blk.description {
	  text-align: center;
	}
  
	.explore {
	  margin-top: 0px;
	  margin-right: auto;
	  margin-bottom: 0px;
	  margin-left: auto;
	}
  
	#inc0s {
	  margin-top: 0px;
	  margin-right: auto;
	  margin-bottom: 0px;
	  margin-left: auto;
	}
  
	.dotsImg {
	  width: 50%;
	  left: 50%;
	  transform: translateX(-50%);
	}
  
	.videoContainer {
	  width: 100%;
	  padding-top: 0px;
	  padding-right: 0px;
	  padding-bottom: 0px;
	  padding-left: 0px;
	}
  
	.mainVideo {
	  width: 100%;
	}
  
	.allText.bottomText {
	  margin-top: 30px;
	  margin-right: 0px;
	  margin-bottom: 60px;
	  margin-left: 0px;
	}
  
	.text-blk.description {
	  padding-top: 0px;
	  padding-right: 0px;
	  padding-bottom: 0px;
	  padding-left: 0px;
	}
  
	.text-blk.headingText {
	  padding-top: 0px;
	  padding-right: 0px;
	  padding-bottom: 0px;
	  padding-left: 0px;
	}
  
	.text-blk.subHeadingText {
	  padding-top: 0px;
	  padding-right: 0px;
	  padding-bottom: 0px;
	  padding-left: 0px;
	}
  
	.mainVideo {
	  margin-top: 0px;
	  margin-right: 0px;
	  margin-bottom: 0px;
	  margin-left: 0px;
	}
  }
  
  @media (max-width: 768px) {
	.allText {
	  width: 100%;
	  margin-top: 0px;
	  margin-right: 0px;
	  margin-bottom: 0px;
	  margin-left: 0px;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  padding-top: 0px;
	  padding-right: 0px;
	  padding-bottom: 0px;
	  padding-left: 0px;
	}
  
	.responsive-container-block.Container {
	  flex-direction: column;
	  height: auto;
	}
  
	.text-blk.headingText {
	  text-align: center;
	}
  
	.text-blk.subHeadingText {
	  text-align: center;
	  font-size: 28px;
	  line-height: 38px;
	}
  
	.text-blk.description {
	  text-align: center;
	  font-size: 18px;
	  line-height: 27px;
	}
  
	.allText {
	  margin-right: 0px;
	  margin-bottom: 0px;
	  margin-left: 0px;
	}
  
	.allText.aboveText {
	  margin-right: 0px;
	  margin-bottom: 0px;
	  margin-left: 0px;
	}
  
	.responsive-container-block.Container {
	  margin-right: auto;
	  margin-bottom: 50px;
	  margin-left: auto;
	}
  
	.responsive-container-block.Container.bottomContainer {
	  margin-right: auto;
	  margin-bottom: 50px;
	  margin-left: auto;
	  padding-top: 0px;
	  padding-right: 0px;
	  padding-bottom: 0px;
	  padding-left: 10px;
	}
  
	.allText.bottomText {
	  margin-right: 0px;
	  margin-bottom: 0px;
	  margin-left: 0px;
	}
  
	.allText.bottomText {
	  margin-right: 0px;
	  margin-bottom: 60px;
	  margin-left: 0px;
	}
  
	.mainVideo {
	  height: 400px;
	}
  
	.videoContainer {
	  height: 550px;
	}
  
	.explore {
	  font-size: 16px;
	  padding-top: 8px;
	  padding-right: 40px;
	  padding-bottom: 8px;
	  padding-left: 40px;
	}
  
	.responsive-container-block.bigContainer {
	  padding-top: 0px;
	  padding-right: 50px;
	  padding-bottom: 0px;
	  padding-left: 50px;
	}
  }
  
  @media (max-width: 500px) {
	.responsive-container-block.Container {
	  padding-top: 10px;
	  padding-right: 0px;
	  padding-bottom: 10px;
	  padding-left: 0px;
	  width: 100%;
	  max-width: 100%;
	}
  
	.responsive-container-block.bigContainer {
	  padding-top: 10px;
	  padding-right: 25px;
	  padding-bottom: 10px;
	  padding-left: 25px;
	}
  
	.allText {
	  padding-top: 0px;
	  padding-right: 0px;
	  padding-bottom: 0px;
	  padding-left: 0px;
	  width: 100%;
	}
  
	.responsive-container-block.bigContainer {
	  padding-top: 10px;
	  padding-right: 20px;
	  padding-bottom: 10px;
	  padding-left: 20px;
	}
  
	.explore {
	  font-size: 16px;
	  line-height: 25px;
	  padding: 8px 35px 8px 35px;
	}
  
	.dotsImg {
	  width: 80%;
	  height: 100%;
	}
  
	.mainVideo {
	  height: 260px;
	}
  
	.videoContainer {
	  height: 320px;
	}
  
	.responsive-container-block.Container.bottomContainer {
	  padding: 0 0 0 0;
	}
  
	.text-blk.description {
	  font-size: 16px;
	  line-height: 23px;
	  margin: 0 0 30px 0;
	}
  
	.text-blk.subHeadingText {
	  font-size: 24px;
	}
  }

/* 
	Minimal CSS resets
*/

/*
	1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
	2. Remove default margin
*/
* {
	margin: 100;
	padding: 0;
}
/*
	3. Allow percentage-based heights in the application
*/
html,
body {
	height: 100%;
}
/*
	Typographic tweaks!
	4. Add accessible line-height
	5. Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
	6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
	7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}
/*
	8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
/*
	9. Create a root stacking context
*/
#root {
	isolation: isolate;
}

/* custom properties */
:root {
	--clr-white: #fff;
	--clr-black: #000;
	--clr-light: rgb(240, 240, 240);
	--clr-light-border: rgb(216, 216, 216);
	--clr-dark: rgb(1, 1, 1);
	--clr-dark-border: rgb(45, 45, 45);
	--bg-gradient-blue: linear-gradient(
		#1b191a,
		#1b191a
	);
	--inline-code-background-color: #1b191a;
	--code-background-color: #1b191a;

	--ff-heading: 'Graphik', sans-serif;
	--ff-text: 'Wotfard', serif;
	--ff-code: 'IBM Plex Mono', monospace;

	--fw-regular: 400;
	--fw-bold: 600;

	--fs-s: 0.8rem;
	--fs-m: 1rem;
	--fs-l: 1.5rem;
	--fs-xl: 2rem;
}

@media (min-width: 768px) {
	:root {
		--fs-s: 0.9rem;
		--fs-m: 1.125rem;
		--fs-xl: 2.25rem;
	}
}

body {
	font-family: var(--ff-text);
}

code {
	font-family: var(--ff-code);
}

/* reset button */
button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

/* global utility classes */
.page {
	background-color: var(--clr-light);
	color: var(--clr-dark);
	font-size: var(--fs-m);
}

.flex-page {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.narrow {
	width: min(100%, 1200px);
	margin-inline: auto;
}

.padding {
	padding-inline: 1.5em;
}

@media (min-width: 768px) {
	.padding {
		padding-inline: 3em;
	}
}

.vertical-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.align-end {
	align-items: flex-end;
}

.align-start {
	align-items: flex-start;
}

.block-a:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.small {
	font-size: var(--fs-s);
}

.allText {
	font-family: Open Sans;

	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 50%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
  }

  .cd-timeline__img--picture {
    background-color: hsl(266, 15%, 43%);
    background-color: var(--cd-color-4);
}

.contact-body{
	background-color: rgb(39, 37, 37);
}

.contact-header{
	text-align: center;
	padding-top: 50px;
}

.contact-icons {
	list-style-type: none;
	text-align: center;
	display: flex;
  	justify-content: center;

}
.contact-icons > li {
	margin-left: 90px;
	margin-right: 90px;
	margin-bottom: 20px;
}