/* 
	Font face
*/

@font-face {
	font-family: 'Graphik';
	src: url('/fonts/graphik-regular.woff2') format('woff2');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'Graphik';
	src: url('/fonts/graphik-bold.woff2') format('woff2');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: 'Wotfard';
	src: url('/fonts/wotfard-regular.woff2') format('woff2');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'Wotfard';
	src: url('/fonts/wotfard-regularitalic.woff2') format('woff2');
	font-style: italic;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'IBM Plex Mono';
	src: url('/fonts/ibm-plx-mono.woff2') format('woff2');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

/* 
	Minimal CSS resets
*/

/*
	1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
	2. Remove default margin
*/
* {
	margin: 0;
	padding: 0;
}
/*
	3. Allow percentage-based heights in the application
*/
html,
body {
	height: 100%;
}
/*
	Typographic tweaks!
	4. Add accessible line-height
	5. Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
	6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
	7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}
/*
	8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
/*
	9. Create a root stacking context
*/
#root {
	isolation: isolate;
}

/* custom properties */
:root {
	--clr-white: #fff;
	--clr-black: #000;
	--clr-light: rgb(240, 240, 240);
	--clr-light-border: rgb(216, 216, 216);
	--clr-dark: rgb(35, 35, 35);
	--clr-dark-border: rgb(45, 45, 45);
	--bg-gradient-blue: linear-gradient(
		rgb(120, 140, 176) 0%,
		rgb(174, 185, 212) 100%
	);
	--bg-gradient-yellow: linear-gradient(
		rgb(222, 208, 197) 0%,
		rgb(235, 230, 222) 100%
	);
	--bg-gradient-red: linear-gradient(
		rgb(223, 156, 165) 0%,
		rgb(231, 195, 200) 100%
	);
	--bg-gradient-green: linear-gradient(
		rgb(184, 192, 183) 0%,
		rgb(204, 214, 209) 100%
	);

	--inline-code-background-color: #e3e3e3;
	--code-background-color: #282c34;

	--ff-heading: 'Graphik', sans-serif;
	--ff-text: 'Wotfard', serif;
	--ff-code: 'IBM Plex Mono', monospace;

	--fw-regular: 400;
	--fw-bold: 600;

	--fs-s: 0.8rem;
	--fs-m: 1rem;
	--fs-l: 1.5rem;
	--fs-xl: 2rem;
}

@media (min-width: 768px) {
	:root {
		--fs-s: 0.9rem;
		--fs-m: 1.125rem;
		--fs-xl: 2.25rem;
	}
}

body {
	font-family: var(--ff-text);
}

code {
	font-family: var(--ff-code);
}

/* reset button */
button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

/* global utility classes */
.page {
	background-color: var(--clr-light);
	color: var(--clr-dark);
	font-size: var(--fs-m);
}

.flex-page {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.narrow {
	width: min(100%, 1200px);
	margin-inline: auto;
}

.padding {
	padding-inline: 1.5em;
}

@media (min-width: 768px) {
	.padding {
		padding-inline: 3em;
	}
}

.vertical-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.align-end {
	align-items: flex-end;
}

.align-start {
	align-items: flex-start;
}

.block-a:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.small {
	font-size: var(--fs-s);
}
